.maize{
    background: red;
    color: white;
    }
#known{
    background: darkblue;
    color: white;
}
.wind{
    background: darkgreen;
    color: white;
}
.color{
    background: tomato;
    color: white;
}