body{
    background-image: url(../sandy\ 2/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    


p{
    background-color: rgb(42, 161, 165);
}