table{
    width: 100%;
}
table, th, td{
    border:1px solid black;
    border-collapse: collapse;
    }
    th{
        border:1px solid black;
        background-color: cyan;
        color: white;
        padding: 10px 0;
    }
    td{
        border:1px solid black;
        color: rgb(250, 0, 0);
        padding: 1px 0;
        height: 10px;
        text-align: center;
    }
    tr:hover{
        background-color: gray;
    }
    