p{
    color: rgb(233, 12, 12);
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.9;
     
}
.box{
    color: rgb(71, 12, 233);
    font-size: 25px;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.9;
     
}